
<div id="content"></div>

<script>
  <% if signed_in? %>
    Picscasa.CURRENT_USER_ID = <%= current_user.id  %> ;
    Picscasa.CURRENT_USER_NAME = "<%= current_user.name %>";
  <% end %>
  // should prob initialize backbone here
  $(document).ready(function(){
    Picscasa.initialize($('div#content'));
  });
</script>


<script type="application/json" id="bootstrapped-data">
  {
    <% if signed_in? %>
      "userPhotos": <%= @photos_json.html_safe %>,
      "userAlbums":  <%= @albums_json.html_safe %>,
      "userTags": <%= @tags_json.html_safe %>,
    <% end %>
    "publicAlbums": <%= @public_albums_json.html_safe %>
  }
</script>