<div class="comment" id="<%= "comment-#{comment.id}" %>">
  <hr>
  <img class="avatar avatar-thumb" src="<%= comment.user.avatar.url(:thumb) %>">
  <p>
    <a href="<%= user_url(comment.user) %>">
    <%= comment.user.name %>
    </a>
    <%= time_ago_in_words(comment.created_at) %> ago
  </p>
  <p><%= comment.body %></p>

  <% if comment.user == current_user %>
  <form class="delete-comment" action="<%= comment_url(comment) %>" method="post">
    <%= auth_token_input %>

    <input type="hidden" name="_method" value="delete">

    <input type="submit" value="Delete Comment">

  </form>
  <% end %>
</div>