<section class="comments">
  <h3>Comments</h3>

  
    
  <% if signed_in? %>
  
  <div class="new-comment">
    
    <div class="commenter">
    <img class="avatar avatar-thumb" src="<%= current_user.avatar.url(:thumb) %>">
    <p><%= current_user.name %></p>
    </div>
    
  <form class="form new-comment-form" action="<%= photo_comments_url(photo) %>" method="post">
    <%= auth_token_input %>
    
    <div class="input">
    <textarea placeholder="Add a comment" name="comment[body]"></textarea>
    </div>
    
    <div class="submit">
    <input type="submit" value="Add Comment">
    </div>

  </form>
  
  </div>

  <% end %>

  

  <% photo.comments.each do |comment|  %>

    <%= render 'comments/comment', comment: comment %>

  <% end %>

</section>