<div class="breadcrubs">
  <a href="#/albums/<%= photo.get("album_id") %>"><< <%= photo.escape("album_title") %></a>
</div>

<div class="photo-container">
<figure class="large-photo">
  <img src="<%= photo.get("image_url") %>">

  <figcaption>
  <!-- <b><%= photo.escape("caption") %></b>
  <% if (Picscasa.helpers.canEdit(photo)) { %>
    <a id="edit-caption" href="#"><%= photo.escape("caption") ? "Edit Caption" : "Add a Caption" %></a>
  <% }; %> -->
  </figcaption>
</figure>

<!-- add links to prev and next photos . prev() -->

<div class="photo-extras">

<div class="tags">
  <!-- Tags:
  <% photo.get("tags").forEach(function(tag) { %>
  <a href="#/tags/<%= tag.id %>"><%= tag.name %></a>
  <% }); %>
  <% if (Picscasa.helpers.canEdit(photo)) { %>
    <a href="#">Edit Tags</a>
  <% }; %> -->

</div>

<div class="likes-and-views">
  <div class="view-count">
    Views: <%= photo.get("view_count") %>
  </div>

  <div class="likes <%= (photo.get("already_liked")) ? "already-liked" : "" %>">
    Likes: <%= photo.get("likes_count") %>

    <% if (Picscasa.helpers.signedIn()) { %>
    <form class="like-form">

      <input type="submit" value="+1">

    </form>
    <form class="unlike-form" >

      <input type="submit" value="-1">

    </form>
    <% } %>
  </div>

</div>

<section class="comments">
  <h3>Comments</h3>

</section>