<% action = user.persisted? ?  user_url(user) : users_url %>
<% button_text = user.persisted? ? "Update Account" : "Create Account" %>

<form class="forms user-form" action="<%= action %>" method="POST" enctype="multipart/form-data">
  <%= auth_token_input %>

  <% if user.persisted? %>
  <input type="hidden" name="_method" value="put">
  <% end %>
  
  <div class="input">
    <label for="user_fname">First Name:</label>
    <input type="text" name="user[fname]" id="user_fname" value="<%= user.fname %>">
  </div>

  <div class="input">
  <label for="user_lname">Last Name:</label>
  <input type="text" name="user[lname]" id="user_lname" value="<%= user.lname %>">
  </div>
  
  
  <div class="input">
    <label for="user_email">Email:</label>
    <input type="email" name="user[email]" id="user_email" value="<%= user.email %>">
</div>

  
  <img class="avatar avatar-thumb" src="<%= user.avatar.url(:thumb) %>">
  <div class="input">
    <label for="user_avatar">Avatar:</label>
    <input type="file" id="user_avatar" name="user[avatar]" accept="image/png,image/jpeg">
  </div>


  <% unless user.persisted? %>
  <div class="input">
  <label for="user_password">Password:</label>
  <input type="password" name="user[password]" id="user_password">
  </div>

  <div class="input">
  <label for="user_password_confirmation">Password Confirmation:</label>
  <input type="password" name="user[password_confirmation]" id="user_password_confirmation">
  <div class="input">
  <%# else %>
  <!-- <a href="#">Reset Password</a> -->
  <% end %>

  <div class="submit">
  <input type="submit" value="<%= button_text %>">
  </div>

</form>