<div class="breadcrubs">
  <a href="<%= album_url(@photo.album) %>"><< <%= @photo.album.title %></a>
</div>

<figure class="large-photo">
  <img src="<%= @photo.image.url(:big)%>">

  <figcaption>
  <%= @photo.caption %>
  <% if @photo.owner == current_user %>
    <a href="#"><%= @photo.caption ? "Edit Caption" : "Add a Caption" %></a>
  <% end %>
  </figcaption>
</figure>

<!-- add links to prev and next -->

<div class="likes-and-views">
  <div class="view-count">
    Views: <%= @photo.view_count %>
  </div>
  <div class="likes">
    Likes: <%= @photo.likes.count %>
    <form class="like-form" action="<%= photo_likes_url(@photo) %>" method="post">
      <%= auth_token_input %>

      <input type="submit" value="Like!">

    </form>
    <form class="unlike-form" action="<%= photo_likes_url(@photo) %>" method="post">
      <%= auth_token_input %>

      <input type="hidden" name="_method" value="delete">

      <input type="submit" value="Unlike">

    </form>
  </div>
</div>


<section class="comments">
<h3>Comments</h3>

<% if signed_in? %>
<%= gravatar_for(current_user) %>
<p><%= current_user.name %></p>
<form action="<%= photo_comments_url(@photo) %>" method="post">
  <%= auth_token_input %>

  <textarea placeholder="Add a comment" name="comment[body]"></textarea>

  <input type="submit" value="Add Comment">

</form>
<% end %>

<% @photo.comments.each do |comment|  %>

  <div class="comment" id="<%= "comment-#{comment.id}" %>">
    <hr>
    <%= gravatar_for(comment.user) %>
    <p><%= comment.user.name %> <%= time_ago_in_words(comment.created_at) %> ago</p>
    <p><%= comment.body %></p>

    <% if comment.user == current_user %>
    <form class="delete-comment" action="<%= comment_url(comment) %>" method="post">
      <%= auth_token_input %>

      <input type="hidden" name="_method" value="delete">

      <input type="submit" value="Delete Comment">

    </form>
    <% end %>
  </div>

<% end %>

</section>


