<div class="breadcrubs">
  <a href="<%= album_url(@photo.album) %>"><< <%= @photo.album.title %></a>
</div>

<figure class="large-photo">
  <img src="<%= @photo.image.url(:big)%>">

  <figcaption>
  <b><%= @photo.caption %></b>
  <% if @photo.owner == current_user %>
    <a href="<%= edit_photo_url(@photo) %>"><%= @photo.caption ? "Edit Caption" : "Add a Caption" %></a>
  <% end %>
  </figcaption>
</figure>

<!-- add links to prev and next -->

<div class="tags">
  Tags:
  <%@photo.tags.each do |tag| %>
  <a href="<%= tag_url(tag) %>"><%= tag.name %></a>
  <% end %>
  <% if @photo.owner == current_user %>
    <a href="<%= edit_photo_url(@photo) %>">Edit Tags</a>
  <% end %>

</div>

<div class="likes-and-views">
  <div class="view-count">
    Views: <%= @photo.view_count %>
  </div>
  <div class="likes <%= "already-liked" if current_user.already_liked?(@photo) %>">
    Likes: <%= @photo.likes.count %>
    
    <% if signed_in? %>
    <form class="like-form" action="<%= photo_likes_url(@photo) %>" method="post">
      <%= auth_token_input %>

      <input type="submit" value="+1">

    </form>
    <form class="unlike-form" action="<%= photo_likes_url(@photo) %>" method="post">
      <%= auth_token_input %>

      <input type="hidden" name="_method" value="delete">

      <input type="submit" value="-1">

    </form>
    <% end %>
  </div>
</div>


<%= render 'comments/comments', photo: @photo %>


