<h1><%= album.escape("title") %></h1>
<div class="album-info">
  <%= album.get("photos_count") %> photos
  Visibility: <%= album.get("visibility") %>
</div>


<% if (Picscasa.helpers.canEdit(album)) { %>
<ul class="album-settings">
  <% if(album.get("visibility") !== "private_album" ) { %>
    <li><a href="#">Share this album</li>
  <% } %>
  <li><a href="#">add photos</a></li>
  <li><a href="#">album settings</a></li>
</ul>
<% } %>



<!-- this will be reused in album photo index
- maybe move out to new view or template  -->
<ul class="pictures-index">
<% album.photos().forEach(function(photo){ %>
  <li>
     <figure class="photo-tile">

      <a href="#/photos/<%= photo.id %>">

        <img class="photo-thumb" src="<%= photo.get("thumb_url")%>">
      </a>

      <figcaption>
        <% if (Picscasa.helpers.canEdit(photo)) { %>
          <button class="delete-photo">delete</button>
        <% } %>
      </figcaption>



    </figure>
    </li>

<% }) %>
</ul>