<h1><%= album.escape("title") %></h1>

<div class="album-info">
  <span id="photo-count"><%= album.photos().length %> photos</span>
  Visibility: <%= album.get("visibility") %>
</div>


<% if (Picscasa.helpers.canEdit(album)) { %>
<ul class="album-settings">
  <% if(album.get("visibility") !== "private_album" ) { %>
    <li><a href="#/albums/<%= album.id %>/share">Share this album</li>
  <% } %>
  <li><a href="#/albums/<%= album.id %>/upload">add photos</a></li>
  <li><a href=" <%= "#/albums/" + album.id + "/edit"%>">album settings</a></li>
</ul>
<% } %>



<!-- this will be reused in album photo index
- maybe move out to new view or template  -->
<ul class="pictures-index">

</ul>