<!DOCTYPE html>
<html>
<head>
  <title>Picscasa</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <h1>PicsCasa</h1>
      
      <ul class="left-nav">
        <% if signed_in? %>
        <li><a href="<%= albums_url %>">My Albums</a></li>
        <% end %>
        <li><a href="#">Public Albums</a></li>
      </ul>
      
      <ul class="right-nav">
        <% if signed_in? %>
        <li><%= current_user.email %></li>
        <li><a href="<%= edit_user_url(current_user) %>">Account Settings</a></li>
        <li><%= button_to "Logout", session_url, method: :delete %></li>
        <% else %>
        <li><a href="<%= new_user_url %>">Create Account</a></li>
        <li><a href="<%= new_session_url %>">Sign In</a></li>
        <% end %>
      </ul>
    </nav>
    
    <%= flash[:error] if flash[:error] %>
    <%= flash[:notice] if flash[:notice] %>
    
  </header>

<%= yield %>

</body>
</html>
