<!DOCTYPE html>
<html>
<head>
  <title>Picscasa</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,400italic,700,100italic' rel='stylesheet' type='text/css'>
</head>
<body>

  <%= render 'layouts/header'%>

  <main>
    <div class="flash-container">
      <div class="flash <%= flash[:error] ? "flash-error" : ""%>">
      <%= flash[:error] if flash[:error] %>
      <%= flash[:notice] if flash[:notice] %>
      </div>
    </div>

    <%= yield %>

  </main>

  <%= render 'layouts/footer'%>

</body>
</html>
